# /etc/systemd/system/myservice.service
#
[Unit]
Description=My Root Startup Script
#After=network.target
After=network-online.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/1000/gdm/Xauthority
#ExecStart=/usr/local/bin/myscript.sh
ExecStart=/usr/bin/nvidia-settings -a "[gpu:0]/GPUFanControlState=1" -a "[fan:0]/GPUTargetFanSpeed=40"
User=root
Group=root
Restart=on-failure
RestartSec=3

[Install]
#WantedBy=multi-user.target
WantedBy=default.target
