[Unit]
Description=Ollama Service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/ollama serve
User=ollama
Group=ollama
Restart=always
RestartSec=3
Environment="PATH=/home/superadmin/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/snap/bin"
Environment="OLLAMA_HOST=0.0.0.0:11434"
Environment="ANTHROPIC_AUTH_TOKEN=ollama"
Environment="ANTHROPIC_API_KEY=''"
Environment="ANTHROPIC_BASE_URL=http://localhost:11434"

[Install]
WantedBy=default.target

...to set or force ollmam to used GPU...
This error typically occurs when running third-party machine learning frameworks or tools (like Ollama) 
on newer JetPack versions (e.g., JetPack 7.x). Because the pre-built CUDA libraries lack native support 
for your Orin architecture, the application defaults to the CPU.

To fix this, try setting manual environment variables to force the application to utilize your Jetson GPU:
1. Open the service file: 
  $ sudo systemctl edit ollama.service
2. Add the following environment variables inside the [Service] block:
  | [Service]
  | Environment="OLLAMA_IGPU_ENABLE=1"
  | Environment="GGML_BACKEND_PATH=/usr/local/lib/ollama/cuda_v13/libggml-cuda.so"
  | Environment="LD_LIBRARY_PATH=/usr/local/lib/ollama:/usr/local/lib/ollama/cuda_v13"
3. Save the file, reload the daemon:
  $ sudo systemctl daemon-reload
4. Restart the service:
  $ sudo systemctl restart ollama
